/*
==========================\\
  Synco's Font Collection
==========================//

font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Noto Sans', sans-serif;

*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Montserrat:400,500,600,700|Noto+Sans:400,700|Open+Sans:300,400,600,700|Oswald:400,500,600|Raleway:400,500,600,700|Roboto:400,500,700&display=swap');

/*
===================================\\
  Reset Browser Margin and Padding
===================================//
*/

html {
    padding: 0;
    margin: 0;
}

/*
=====================================================\\
  Navbar Scroll Class (JS Changes to this on scroll)
=====================================================//
*/

.navbar.scrolled {
    margin-top: 0px;
    background: #283847;
    transition: background 100ms, margin-top 100ms;
}

/*
==========================================\\
  Draws A Border Around Div To Test Stuff
==========================================//
*/

.s-dev {
    border: 2px palevioletred solid !important;
}

.s-test {
  height: 300px !important;
}

/*
=======================================\\
  Forces Div Height To 100 View Height
=======================================//
*/

.s-d100 {
    height: 100vh !important;
}

/*
===============\\
  Centers Text
===============//
*/

.s-tac {
    text-align: center;
}

/*
=======================\\
  Rounded Div Corners
=======================//
*/

.s-rounded-5 {
    border-radius: 5px;
}

.s-rounded-10 {
    border-radius: 10px;
}

.s-rounded-15 {
    border-radius: 15px;
}

.s-rounded-20 {
    border-radius: 20px;
}

.s-rounded-25 {
    border-radius: 25px;
}

.s-rounded-30 {
    border-radius: 30px;
}

/*
========\\
  Other
========//
*/

.s-mt20 {
  margin-top: 20px !important;
}

.s-mr20 {
  margin-right: 20px !important;
}

.s-ml20 {
  margin-left: 20px !important;
}

.s-mb20 {
  margin-bottom: 20px !important;
}

@media only screen and (max-width: 1026px) {
  .s-dr {
      display: none !important;
  }
}
